<%- include('header'); %>

    <form action="/city" method="POST">
        <div class="inputCity-name">
            <input type="text" name="cityName" autocomplete="off" />
            <button class="btn btn-primary">Show</button>
        </div>
    </form>

    <%- include('footer'); %>